root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{cpp,h,hpp,ino}]
indent_size = 2

[*.{md,txt}]
trim_trailing_whitespace = false
